# Nettoyage des données

Import des modules

In [2]:
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt

# Display plots inline and change default figure size
%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 8.0)

Import des données (prends plusieurs minutes)

In [3]:
tic = time.time()
data = pd.read_csv('data/data_18_19_orig.csv')
tac = time.time()

print("Temps de chargement: " + str(tac-tic) + " s")

/Users/gauthier/workspace/py_env/3_ML_DL/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Temps de chargement: 21.795127153396606 s

In [4]:
data.head()

,CAB,Date de passage,Date de sortie,Emetteur,Code Regate Emetteur,Destination,Code Regate Destinataire,Produit,Traitement,Code traitement,Contenant,Injecteur,Sortie,Rejet,CAB fonctionnel,CBN
0,2013373309901180831677726030,2018-08-01 06:00:48,2018-08-01 06:01:34,BORDEAUX PIC,337330,TRI MANUEL 2,990118,LETTRE,TRI MANUEL TG2,26.0,ké7,11.0,37,NON,-01------99011808------26-30,non trouvé
1,2013373303323100831677937017,2018-08-01 06:00:51,2018-08-01 06:01:32,BORDEAUX PIC,337330,BORDEAUX PDC1,332310,LETTRE,TRI CODE POSTAL,37.0,ké7,11.0,LV17,NON,-01------33231008------37-17,Q 03
2,2013373309901180821853326030,2018-08-01 06:03:31,2018-08-01 06:04:17,BORDEAUX PIC,337330,TRI MANUEL 2,990118,LETTRE,TRI MANUEL TG2,26.0,ké7,11.0,37,NON,-01------99011808------26-30,non trouvé
3,2223373303373300349894290000,2018-08-01 06:10:55,2018-08-01 06:11:02,BORDEAUX PIC,337330,BORDEAUX PIC,337330,ECOPLI,TRI LECTEUR AUTO TOUS FLUX,90.0,bak,NaN,MTIGF02,NON,-22------33733003------90-00,non trouvé
4,2223373303373300349894390000,2018-08-01 06:10:57,2018-08-01 06:11:03,BORDEAUX PIC,337330,BORDEAUX PIC,337330,ECOPLI,TRI LECTEUR AUTO TOUS FLUX,90.0,bak,NaN,MTIGF02,NON,-22------33733003------90-00,non trouvé

Dates au format Timestamp

In [5]:
data['Date de passage'] = data['Date de passage'].apply(lambda x: pd.Timestamp(x))
data['Date de sortie'] = data['Date de sortie'].apply(lambda x: pd.Timestamp(x))

## Nettoyage des codes CBN

Affichage des codes batailles navales. Les codes commençant par un "O" sont rentrés avec un "0" (zéro).

In [6]:
data['CBN'].unique()

array(['non trouvé', 'Q 03', '0 05', 'ligne vide', '0 09', '0 06', '0 03',
       '0 04', '0 02', 'G 01', 'C 01', 'CAB nul', 'N 03', 'L 01', '0 11',
       '0 07', '0 10', 'D 02', 'F 01', '0 08', 'N 02', 'T 02', 'N 11',
       'Y', 'A 04/ A 06', 'W 04', 'D 01', 'A 08', 'BRIN A', 'B 03', 'Z',
       'S 05', 'V 09', 'BRIN B', 'H 06', 'C 02', 'X 01/X 02', 'M 10',
       'H 09', 'Q 01', 'I 03/I 04/I 05/I 06/I 07/I 08', 'V 08', 'W 01',
       'M 12', 'M 07', 'F 04', 'G 05', 'E 12', 'U 09', 'M 05', 'D 10',
       'E 11', 'D 07', 'E 06', 'K 04', 'W 05', 'W 03', 'A 07', 'K 05',
       'K 02', 'N 01', 'G 04', 'E 10', 'W 02', 'K 06', 'J 03',
       'C 04/C 05', 'V 02', 'BRIN C', 'B 05/B 06', 'S 09', 'H 11', 'D 04',
       'T 06/T 07', 'F 08', 'W 06', 'V 03', 'A 10', 'J 02', 'J 01',
       'L 10', 'S 01', 'D 09', 'U 11', 'V 04', 'V 01', 'I 02', 'D 06',
       'S 04', 'V 06', 'B 08', 'M 03', 'I 11/I 12', 'I 10', 'B 09',
       'I 11', 'S 02', 'H 08', 'S 03', 'I 12', 'E 03/E 04', '0 12',
       'V 05', 'H 07', 'P 01', 'X 12', 'H 02', 'K 09', 'P 04', 'P 07',
       'P 05', 'P 11', 'N 08', 'J 05', 'U 08', 'J 06', 'J 10', 'K 08',
       'S 08', 'Q 08', 'J 08', 'T 01', 'P 10', 'L 05', 'L 07', 'Q 09',
       'G 07', 'V 10', 'G 08', 'H 03', 'X 05', 'H 04', 'N 04', 'Q 05',
       'L 02', 'P 08', 'J 09', 'U 04/U 05', 'L 04', 'X 10', 'X 11',
       'N 05/N 10', 'L 03', 'F 07', 'F 09', 'G 09', 'M 06/M 09', 'U 10',
       'Q 06', 'M 04', 'j 04', 'G 10', 'X 08', 'J 07', 'K 11', 'N 06',
       'T 04', 'U 05/U 07', 'L 08/ L 09/ L 11', 'X 09', 'N 09', 'G 12',
       'P 06', 'J 11', 'X 06', 'G 11', 'G 06', 'G 03', 'E 05', 'M 08',
       'R 03', 'I 05', 'H 10', 'X 07', 'T 07', 'U 01/U 03/U 06', 'C 03',
       'K 07', 'A 09', 'A 04', 'S 07', 'H 12', 'P 03', 'K 03', 'S 11',
       'P 09', 'C 07', 'B 10', 'D 05', 'L 06', 'E 02', 'R 01', 'W 08',
       'V 11', 'K 12', 'T 05', 'S 10', 'W 07', 'E 07', 'Q 04', 'K 01',
       'T 03', 'U 02', 'C 09', 'B 02', 'E 09', 'F 02', 'F 03',
       'U 03/U 06', 'M 02', 'E 01', 'F 06/F 10', 'A 04 TD', 'H 02 TD',
       'J 01 TD', 'I 01 TD', 'M 01', 'D 11', 'I 9/I 11', 'S 06', 'E 08',
       'I 01', 'B 04/B 07', 'D 03', 'F 05', 'K 10', 'R 04/R 05/R 06/R 07',
       'U 05/U 06', 'R 12', 'X 04', 'X 03', 'B 05 TD', 'A 07 TD',
       'A 08 TD', 'G 03 TD', 'A 05 TD', 'I 02 TD', 'C 06/C 08', 'U 03',
       'L 08', 'M 09', 'R 08', 'C 03/C 06', 'A 04/ A 05',
       'B 05/ B 06/B 09', 'R 02', 'A 06 TD', 'R 11', 'N 07', 'D 04 TD',
       'U 06', 'V 07', 'U 01', 'D 08', 'B 04', 'R 09/R 10', 'U 07',
       'B 05/B 07', 'G 02 TD', 'T 09', 'T 08', 'F 11', 'D 03 TD'],
      dtype=object)

Analyse des codes suivants:
    - 'non trouvé'
    - 'ligne vide'

In [7]:
nb_nt = data[data['CBN'] == 'non trouvé'].shape[0]
nb_vide = data[data['CBN'] == 'ligne vide'].shape[0]

size = data.shape[0]

print(str(nb_nt) + " correspondent à un CBN 'non trouvé' soit " +str(int(nb_nt/size*100))+ " % des données.")
print(str(nb_vide) + " correspondent à un CBN 'ligne vide' soit " +str(int(nb_vide/size*100))+ " % des données.")
print('\n')

print("Conclusion : "+str(int((nb_nt+nb_vide)/size*100))+" % des données ne sont pas utilisables")

1513738 correspondent à un CBN 'non trouvé' soit 19 % des données.
462201 correspondent à un CBN 'ligne vide' soit 6 % des données.


Conclusion : 25 % des données ne sont pas utilisables

Supression des lignes correspondantes à ces CBN:

In [7]:
data = data[(data['CBN'] != 'ligne vide') & (data['CBN'] != 'non trouvé')]

Les colonnes suivantes sont supprimées car inutiles à notre analyse:
    - "CAB"
    - "Emetteur"
    - "Code Regate Emetteur"
    - "Destination"
    - "Code Regate Destinataire"
    - "Produit"
    - "Traitement"
    - "Code traitement"
    - "Injecteur"
    - "Sortie"

In [10]:
data.drop(columns=['CAB', 'Emetteur', 'Code Regate Emetteur', 'Destination', 'Code Regate Destinataire', \
                  'Produit', 'Traitement', 'Code traitement', 'Injecteur', 'Sortie'], inplace=True)

In [19]:
data.reset_index(inplace=True)

In [21]:
data.head()

,index,Date de passage,Date de sortie,Contenant,Rejet,CAB fonctionnel,CBN
0,1,2018-08-01 06:00:51,2018-08-01 06:01:32,ké7,NON,-01------33231008------37-17,Q 03
1,21,2018-08-01 06:18:43,2018-08-01 06:18:43,bak,NON,-01------99011903------51-00,0 05
2,22,2018-08-01 06:18:46,2018-08-01 06:18:46,bak,NON,-01------99011903------51-00,0 05
3,23,2018-08-01 06:18:51,2018-08-01 06:18:51,bak,NON,-01------99011903------51-00,0 05
4,24,2018-08-01 06:18:54,2018-08-01 06:18:54,bak,NON,-01------99011903------51-00,0 05

In [ ]:
data.to_csv('data/data_18_19_clean.csv', index=False)